name: Back lib CD

on:
  workflow_call:
    secrets:
      MAIRIE_360_DEPLOY_TOKEN:
        required: false
      CARGO_REGISTRY_TOKEN:
        required: true

jobs:
  publish_release:
    runs-on: ubuntu-latest

    steps:
      - name: Download build artifact from CI
        uses: actions/download-artifact@v4
        with:
          name: build-artifact
          path: target/release/

      - name: Setup repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          # Important: Keep git history for tagging
          clean: false # Ne supprime pas les artefacts téléchargés

      - uses: dtolnay/rust-toolchain@stable

      - name: Install convco & cargo-release
        run: |
          cargo install convco
          cargo install cargo-release

      - name: Validate latest commit message
        run: git log -1 --pretty=%B | convco check --from-stdin

      - name: Compute next version
        id: version
        run: |
          next=$(convco version --bump)
          echo "NEXT_VERSION=$next" >> $GITHUB_OUTPUT

      - name: Run cargo-release (tag + push + publish)
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: |
          cargo release \
            --level ${{ steps.version.outputs.NEXT_VERSION }} \
            --no-confirm
