name: Back lib CI

on:
  workflow_call:

jobs:
  dependencies:
    name: Dependencies
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.2.2

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Cache Cargo Dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Download Dependencies
        run: cargo fetch

      - name: Upload Cargo Dependencies
        uses: actions/upload-artifact@v4
        with:
          name: cargo-dependencies
          path: |
            ~/.cargo/registry
            ~/.cargo/git

  lint:
    name: Check lint
    runs-on: ubuntu-latest
    needs: dependencies

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.2.2

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - name: Run lint_check
        uses: actions-rs/cargo@v1
        with:
          command: lint_check

      - name: Run lint_fix
        uses: actions-rs/cargo@v1
        with:
          command: lint_fix

  build:
    name: Build Project
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.2.2

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Download Cargo Dependencies
        uses: actions/download-artifact@v4
        with:
          name: cargo-dependencies
          path: ~/.cargo

      - name: Build
        run: cargo build --release

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-artifact
          path: target/release/

  unit_test:
    name: Unit Tests
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.2.2

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Run Rust Tests
        run: cargo test --release
